html, body {
    overflow: auto;
    margin: 0;
    text-align: justify;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

h2 {
    text-align: left;
}

.bolded {
    font-weight: bold;
}

.event {
    margin-bottom: 1.3em;
}

.new::after {
    color: var(--secondary);
    background: var(--primary);
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-right: 0.25em;
    font-weight: bold;
    content: "NEW";
}

.warn::after {
    color: var(--secondary);
    background: var(--primary);
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-right: 0.25em;
    font-weight: bold;
    content: attr(warning);
}

.note {
    margin-top: -0.2em;
    margin-bottom: 0.5em;
    font-style: italic;
}

.location {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.dates {
    font-weight: normal;
}

.organisers::before {
    font-weight: bold;
    content: "Organisers: "
}

.organisers {
    margin-bottom: 0.5em;
}

.committee::before {
    font-weight: bold;
    content: "Scientific Committee: "
}

.committee {
    margin-bottom: 0.5em;
}

.special_speakers {
    margin-bottom: 0.5em;
}

.speakers::before {
    font-weight: bold;
    content: "Speakers: "
}

.speakers {
    margin-bottom: 0.5em;
}
