html, body {
    overflow: hidden;
    margin: 0;
}

.event {
    margin-bottom: 0.5em;
}

.new::after {
    color: var(--secondary);
    background-color: var(--primary);
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-right: 0.25em;
    font-weight: bold;
    content: "NEW";
}

.alert::after {
    color: var(--secondary);
    background-color: var(--primary);
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-right: 0.25em;
    font-weight: bold;
    content: "CANCELLED";
}

.note {
    margin-top: -0.2em;
    margin-bottom: 0.5em;
    font-style: italic;
}

.location {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.dates {
    font-weight: normal;
}

.organisers::before {
    font-weight: bold;
    content: "Organisers: "
}

.organisers {
    margin-bottom: 0.5em;
}

.committee::before {
    font-weight: bold;
    content: "Scientific Committee: "
}

.committee {
    margin-bottom: 0.5em;
}

.speakers::before {
    font-weight: bold;
    content: "Speakers: "
}

.speakers {
    margin-bottom: 1.3em;
}
