<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
        {{ block "header" . }}

        {{ end }}
    </head>
    <body>
        <div id="main">
            <div id="strip">
                {{ block "main" . }}

                {{ end }}
            </div>
        </div>
        {{ block "footer" . }}

        {{ end }}

    </body>
</html>

<script>
 let height;
 const sendPostMessage = () => {
     if (height !== document.getElementById('main').offsetHeight) {
         height = document.getElementById('main').offsetHeight;
         window.parent.postMessage({
             frameHeight: height
         }, 'https://fdlist.math.uni-bielefeld.de/t/welcome-to-fdlist/21');
         console.log(height) // check the message is being sent correctly
     }
 }
 window.onload = () => sendPostMessage();
 window.onresize = () => sendPostMessage();
</script>
