<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
        {{ block "header" . }}

        {{ end }}
    </head>
    <body onload="parent.postMessage(document.body.scrollHeight, 'https://www.math.uni-bonn.de/');">
        <div id="main">
            <div id="strip">
                {{ block "main" . }}

                {{ end }}
            </div>
        </div>
        {{ block "footer" . }}

        {{ end }}
    </body>
</html>
