<base target="_blank">
<h2>Upcoming events</h2>
<table style="border-collapse: separate !important;">
<tr>
<td align="left" valign="top">
<b>Archive:</b>
</td>
<td align="left" valign="top">
&nbspUpcoming&nbsp
</td>
<td align="left" valign="top">
   {{ $years := (where site.RegularPages "Type" "archive") }}
   {{ $len := (len $years) }}
   {{ range $i, $y := (sort $years ".Date" "desc" ) }}
   {{ if le (time $y.Date) now }}
   {{ $year := $y.Date.Format "2006" }}
   |&nbsp<a target="_self" href="{{ .Permalink }}">{{ $year }}</a>
   {{ end }}
   {{ end }}
</td>
</tr>
</table>
<br>
{{ $yesterday := now.AddDate 0 0 -1}}
{{ $eventlist := slice }}
{{ range sort (where site.RegularPages "Type" "events") ".Date" }}
  {{ if ge (time .Params.enddate) $yesterday }}
    {{ $eventlist = $eventlist | append . }}
  {{ end }}
{{ end }}
{{ $pages := .Paginate $eventlist 100 }}
{{ range $pages.Pages }}
{{ $date := .Date.Format "2006-01-02" }}
{{ $delta := (now.Sub (time .Params.dateadded)).Hours }}
<div class="event">
    <h2 class="title">
	{{ if le $delta 672 }}<span class="new"></span>{{ end }}
	{{ if .Params.warning }}<span class="warn" warning="{{ .Params.warning }}"></span>{{ end }}
    {{ if .Params.webpage }}<a href="{{ .Params.webpage }}">{{ .Title }}</a>
    {{ else }}{{ .Title }}{{ end }}
    </h2>
    {{ if .Params.note }}
    <div class="note">{{ .Params.note }}</div>
    {{ end }}
    {{ if .Params.location }}
    <div class="location">{{ .Params.location }}, <span class="dates">{{ .Params.dates }} {{if ge .Params.enddate $yesterday }}{{if .Params.schedule }}<a href="{{ .Params.schedule }}">(Schedule)</a>{{ end }}{{ end }}</span></div>
    {{ end }}
    {{ if .Params.organisers }}
    <div class="organisers">{{ .Params.Organisers }}</div>
    {{ end }}
    {{ if .Params.committee }}
    <div class="committee">{{ .Params.committee }}</div>
    {{ end }}
    {{ if .Params.speakers }}
    <div class="special_speakers">{{ .Params.special_speakers }}</div>
    {{ end }}
    {{ if .Params.speakers }}
    <div class="speakers">{{ .Params.Speakers }}</div>
    {{ end }}
</div>
{{ end }}
