<link href="/stylesheets/color_definitions_colour-blind-friendly-theme_10_4ba6a79add46567cfb3d7d1fef6a57055a645cbc.css?__ws=fd-list.math.uni-bielefeld.de" media="all" rel="stylesheet" class="light-scheme"/>

<link href="/stylesheets/desktop_10_4ba6a79add46567cfb3d7d1fef6a57055a645cbc.css?__ws=fd-list.math.uni-bielefeld.de" media="all" rel="stylesheet" data-target="desktop" data-theme-id="1"/>

<link href="/stylesheets/admin_10_4ba6a79add46567cfb3d7d1fef6a57055a645cbc.css?__ws=fd-list.math.uni-bielefeld.de" media="all" rel="stylesheet" data-target="admin" data-theme-id="1"/>

<link href="/stylesheets/discourse-details_10_4ba6a79add46567cfb3d7d1fef6a57055a645cbc.css?__ws=fd-list.math.uni-bielefeld.de" media="all" rel="stylesheet" data-target="discourse-details" data-theme-id="1"/>
<link href="https://fd-list.math.uni-bielefeld.de/stylesheets/discourse-local-dates_10_4ba6a79add46567cfb3d7d1fef6a57055a645cbc.css?__ws=fd-list.math.uni-bielefeld.de" media="all" rel="stylesheet" data-target="discourse-local-dates" data-theme-id="1"/>
<link href="https://fd-list.math.uni-bielefeld.de/stylesheets/discourse-presence_10_4ba6a79add46567cfb3d7d1fef6a57055a645cbc.css?__ws=fd-list.math.uni-bielefeld.de" media="all" rel="stylesheet" data-target="discourse-presence" data-theme-id="1"/>
<link href="https://fd-list.math.uni-bielefeld.de/stylesheets/discpage_10_4ba6a79add46567cfb3d7d1fef6a57055a645cbc.css?__ws=fd-list.math.uni-bielefeld.de" media="all" rel="stylesheet" data-target="discpage" data-theme-id="1"/>
<link href="https://fd-list.math.uni-bielefeld.de/stylesheets/lazy-yt_10_4ba6a79add46567cfb3d7d1fef6a57055a645cbc.css?__ws=fd-list.math.uni-bielefeld.de" media="all" rel="stylesheet" data-target="lazy-yt" data-theme-id="1"/>
<link href="https://fd-list.math.uni-bielefeld.de/stylesheets/poll_10_4ba6a79add46567cfb3d7d1fef6a57055a645cbc.css?__ws=fd-list.math.uni-bielefeld.de" media="all" rel="stylesheet" data-target="poll" data-theme-id="1"/>
<link href="https://fd-list.math.uni-bielefeld.de/stylesheets/poll_desktop_10_4ba6a79add46567cfb3d7d1fef6a57055a645cbc.css?__ws=fd-list.math.uni-bielefeld.de" media="all" rel="stylesheet" data-target="poll_desktop" data-theme-id="1"/>

<link href="https://fd-list.math.uni-bielefeld.de/stylesheets/desktop_theme_1_234abb6efa3fefc0aae09bf47b61a2abe007c367.css?__ws=fd-list.math.uni-bielefeld.de" media="all" rel="stylesheet" data-target="desktop_theme" data-theme-id="1"/>
<link href="https://fd-list.math.uni-bielefeld.de/stylesheets/desktop_theme_4_17a09db47f010e872b010dc7ea2d3b6dee0108d7.css?__ws=fd-list.math.uni-bielefeld.de" media="all" rel="stylesheet" data-target="desktop_theme" data-theme-id="4"/>

<link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
