{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
{{ $archYear := .Date.Format "2006" }}
<h2>Events in {{ $archYear }}</h2>
<table style="border-collapse: separate !important;">
<tr>
<td align="left" valign="top">
<b>Archive:</b>
</td>
<td align="left" valign="top">
&nbsp<a target="_self" href="/fd-conferences">Upcoming</a>&nbsp
</td>
<td align="left" valign="top">
   {{ $years := (where site.RegularPages "Type" "archive") }}
   {{ $len := (len $years) }}
   {{ range $i, $y := (sort $years ".Date" "desc" ) }}
   {{ if le (time $y.Date) now }}
   {{ $year := $y.Date.Format "2006" }}
   {{ if eq $year $archYear }}
      |&nbsp{{ $year }}
   {{ else }}
      |&nbsp<a target="_self" href="{{ .Permalink }}">{{ $year }}</a>
   {{ end }}
   {{ end }}
   {{ end }}
</td>
</tr>
</table>
<br>
{{ range sort (where site.RegularPages "Type" "events") ".Date" }}
   {{ if eq (.Date.Format "2006") $archYear }}
      {{ partial "event/listing" . }}
   {{ end }}
{{ end }}

{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}