<base target="_blank">
<div class="event">
    <h2 class="title">
	{{ if .Params.warning }}<span class="warn" warning="{{ .Params.warning }}"></span>{{ end }}
    {{ if .Params.webpage }}<a href="{{ .Params.webpage }}">{{ replace ( replace .Title "'" "’" ) " - " " – " }}</a>
    {{ else }}{{ replace ( replace .Title "'" "’" ) " - " " – " }}{{ end }}
    </h2>
    {{ if .Params.note }}
    <div class="note">{{ replace .Params.note  "'" "’" | safeHTML }}</div>
    {{ end }}
    {{ if .Params.location }}
    <div class="location">{{ replace .Params.location "'" "’" }}, <span class="dates">{{ replace .Params.dates " - " "–" }}</span></div>
    {{ end }}
    {{ if .Params.organisers }}
    <div class="organisers">{{ replace (replace .Params.organisers  "'" "’") " - " " – " }}</div>
    {{ end }}
    {{ if .Params.committee }}
    <div class="committee">{{ replace (replace .Params.committee  "'" "’") " - " " – " }}</div>
    {{ end }}
    {{ if .Params.special_speakers }}
    <div class="special_speakers">
    {{ if .Params.special_talks}}
    <span class="bolded">{{ .Params.special_talks }}: </span>
    {{ else }}
    <span class="bolded">Lecture Series: </span>
    {{ end }}
    {{ replace (replace .Params.special_speakers  "'" "’") " - " " – " }}</div>
    {{ end }}
    {{ if .Params.speakers }}
    <div class="speakers">{{ replace (replace .Params.speakers  "'" "’") " - " " – " }}</div>
    {{ end }}
</div>
